@import '../../index';

.notes-viewer {
  width: 70%;
  h1 {
    display: inline;
    margin-right: 10px;
  }
  .btn {
    font-size: $fs-middle;
  }
}

@mixin textarea($border-color) {
  display: block;
  width: 700px;
  max-height: 350px;
  overflow: overlay;
  border: 1px solid $border-color;
  padding: 10px;  
}

.textArea {
  @include textarea($light);
}

.editNoteText {
  @include textarea($black);
}

.hightlight {
  font-weight: bold;
  color: $orange;
  &:hover {
    color: $green;
  }
}
