@import './index';

.App {
	display: flex;
	justify-content: space-around;
	width: 90vw;
	margin: auto;
}

@mixin button-bg($bg) {
	background: $bg;
	&:hover {
		background: darken($bg,8%);
		transition: all 0.3s ease;
	}
	&:active {
		background: darken($bg,25%);
	} 
}

.btn {
  cursor: pointer;
	color: $white;
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: $fs-big;
	border: none;
	margin-left: 5px;
}

.btn-green {
	@include button-bg($green);
}

.btn-orange {
	@include button-bg($orange);
}

.btn-red {
	@include button-bg($red);
}

.btn-inverted {
	@include button-bg($light);
	font-size: $fs-middle;
  border: 1px solid $red;
  color: $red;
}

.wrap {
	margin: 0 auto;
	width: 800px;
	text-align: center;
}

h1 {
	font-family: 'Poiret One', cursive;
	font-size: $fs-head;
}

.hidden {
	display: none;
}

input[type="text"] {
	margin: 10px 0;
}